.message {
  width: clamp(120px, calc(50vw + 1rem), 500px);
  aspect-ratio: 2/1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  background:linear-gradient(92.43deg, #FF00A8 19.97%, #8C46FF 111.92%);
  color:hsl(0, 10%, 94%)
}
.section{
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    min-height: 85vh;
    /* display: flex; */
    max-width: 800px;
    margin: auto;
    align-items: center;
    padding: 0 2rem;

    @media (max-width: 680px){
      // grid-auto-flow: column;
      place-items: center;
      h1{
        text-align: center;
      }
    }
    }
    